.button,
.btn {
  display: inline-block;
  border: none;
  outline: none;
  text-transform: uppercase;
  @include transition();
}


.button {
  width: 100%;
  max-width: 460px;
  height: 60px;
  font-size: $header;
  font-weight: 700;
  line-height: 60px;

  &.button--default {
    background-color: $blue;
    color: $white;
    border-color: transparent;

    &:hover {
      background-color: $blue-hover;
    }

    &:active {
      background-color: $blue-focus;
      color: rgba($white, 0.45);
    }
  }

  &[disabled],
  &.disabled {
    background-color: $gray-lighter;

    &:hover {
      background-color: $gray-lighter;
      cursor: not-allowed;
    }

    &:focus {
      color: $white;
    }
  }
}

.btn {
  &.btn--round-cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #969696;
    text-indent: $over9000;
    opacity: 0.8;
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      // @include abs-center-margins; // renders like shit on -webkit :(
      top: 5px;
      left: 12px;
      display: block;
      width: 2px;
      height: 16px;
      background-color: $brown;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 1;
      transform: rotate(90deg);
    }
  }
}
