.box-wrapper {
  @include respond-from-to($screen-lg, false) {
    width: $screen-lg;
    margin: 0 auto;
    box-shadow: 0 -10px 30px $gray-darker;
  }
}

.container {
  @extend .clearfix;
  position: relative;
  // border-right: 1px solid red;
  // border-left: 1px solid red;

  @include respond-from-to(false, $screen-md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include respond-from-to($screen-md, $screen-lg) {
    padding-left: 7.81%;
    padding-right: 7.81%;
  }

  @include respond-from-to($screen-lg, false) {
    padding-left: 65px;
    padding-right: 65px;
  }

  &.container--fluid {
    padding-left: 0;
    padding-right: 0;
  }

  &.container--fluid-xs {
    @include respond-from-to(false, $screen-xs) {
      padding-left: 0;
      padding-right: 0;
    } 
  }
}

.row {
  @extend .clearfix;
  position: relative;
}

@for $i from 1 to 12 {
  .col-#{$i} {
    float: left;
    width: 100% / 12 * $i;

    @include respond-from-to(false, $screen-md) {
      float: none;
      width: auto;
    }
  }
}
