.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  min-width: $screen-xs;
  max-width: $screen-lg;
  height: $navbar-height;
  background-color: rgba($white, 0.95);

  @include respond-from-to($screen-lg, false) {
    @include abs-center(50%, false);
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 102px;
    height: 83px;
    text-indent: $over9000;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/logo/logo@1x.png");

    @media #{$retina2x} {
      background-image: url("../img/logo/logo@2x.png");
      background-size: contain;
    }

    @include respond-from-to($screen-md, false) {
      position: absolute;
      
      @include abs-center(50%, false);
    }

    @include respond-from-to($screen-lg, false) {
      width: 138px;
      height: 70px;
      background-image: url("../img/logo/logo-desktop.png");
    }
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;

    @include respond-from-to(false, $screen-md) {
      display: none;
    }

    @include respond-from-to($screen-md, false) {
      @include clearfix();
      text-align: left;
    }

    @include respond-from-to($screen-md, $screen-lg) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &__menu-item {
    @include respond-from-to(false, $screen-md) {
      position: relative;
      background-color: $blue;
      box-shadow: 0 -1px inset #678fa8,
                  0 1px inset #9ac2db;
      @include transition();

      &:first-of-type {
        box-shadow: 0 -1px inset #678fa8;
      }

      &:last-of-type {
        box-shadow: 0 1px inset #9ac2db,
                    0 -7px 7px -7px inset rgba(0,0,0,0.5);
      }

      &:hover {
        background-color: $blue-hover;
      }
    }
    
    @include respond-from-to($screen-md, false) {
      font-size: $p;
      color: $text-base;
    }
  }
  
  /* Menu items behavior on breakpoints */
  @include respond-from-to($screen-md, false) {
    &__1st-item,
    &__2nd-item {
      float: left;
    }
    
    &__3rd-item,
    &__4th-item {
      float: right;
    }
  }

  @include respond-from-to($screen-md, $screen-lg) {
    &__1st-item {
      margin-right: 10.71%;
    }

    &__3rd-item {
      margin-left: 7.14%;
    }
  }

  @include respond-from-to($screen-lg, false) {
    &__1st-item {
      margin-right: 160px;
      margin-left: 90px;
    }

    &__3rd-item {
      margin-right: 70px;
      margin-left: 135px;
    }
  }

  &__menu-link {
    display: block;
    height: $navbar-height;
    line-height: $navbar-height;
    font-weight: 700;
    text-decoration: none;
    @include transition();

    @include respond-from-to(false, $screen-md) {
      text-align: center;
      color: $white;
      
      &:active {
        background-color: $blue-focus;
        color: rgba($white, 0.45);
      }
    }

    @include respond-from-to($screen-md, false) {
      color: $text-base;

      &:hover {
        color: $blue;
      }

      &:active {
        color: rgba($black, 0.3);
      }
    }    
  }

  &__hamburger-wrapper {
    position: absolute;
    right: 20px;
    top: 17px;

    &:hover {
      cursor: pointer;
    }

    @include respond-from-to($screen-md, false) {
      display: none;
    }
  }
 
  &__hamburger {
    @include hamburger-generator(23px, 4px, 4px, $blue);
  }

  &__cross {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 22px;
    height: 22px;
    color: #fff;
    text-indent: $over9000;
    background: url("../img/icons/icon-cross.svg") 0 0 no-repeat;
    background-size: contain;

    @include respond-from-to($screen-md, false) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
