.top-block {
  padding-top: 30px;
  border-bottom: 1px solid $gray-base;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 27px;
    background: url("../img/promo-decorate-top.png") no-repeat 0 0;
    background-size: contain;
  }

  &__header {
    @extend .reasons__header;
    margin-bottom: 1.95em;
  }

  &__text {
    margin-bottom: 1.43em;
    font-size: $p;
    line-height: 1.71em;
  }
}

.required-field::after {
  content: "\2a";
  padding-left: 3px;
  font-size: floor(1.3 * $p);
  color: red;
}

.feedback-form {
  margin-bottom: 35px;

  /* Smooth opacity transition for input placeholder on focus */
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/* Smooth opacity transition for textarea placeholder on focus */
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

  &__fieldset {
    position: relative;
    padding: 0 0 30px;

    border: none;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: $screen-xs;
      height: 1px;
      background-color: $gray-base;
    }

     &:last-of-type::after {
      content: none;
    }

    .feedback-form__form-group:not(:last-child):not(.feedback-form__form-group--radio) {
      margin-bottom: 20px;
    }
  }

  &__form-group {
    position: relative;

    &--radio {
      margin-bottom: 15px;
    }
  }

  &__fieldset-legend {
    @extend .reasons__header;
    padding-top: 1.1em;
    margin-bottom: 1.39em;
    font-weight: 700;
  }

  &__text-label,
  &__input-field {
    display: inline-block;
    vertical-align: baseline;
  }

  &__text-label,
  &__contact-label {
    text-align: left;
  }

  &__text-label {
    width: 25%;
    margin-right: 20px;
  }

  &__contact-label {
    display: block;
    padding-left: 20px;
    margin-bottom: 15px;
  }

  &__input-field,
  &__contact-input-field,
  &__textarea {
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: round(1.29 * $p);
    line-height: 1.44em;
    font-weight: 700;
    background-color: $gray-lighter;
    @include transition(background-color);
  }

  &__input-field:hover,
  &__contact-input-field:hover,
  &__textarea:hover {
    background-color: $gray-base;
  }

  &__input-field:focus,
  &__contact-input-field:focus,
  &__textarea:focus {
    background-color: transparent;
    outline: 4px solid $gray-base;
  }

  &__input-field {
    width: 65%;
  }

  &__contact-input-field {
    width: 100%;
    padding-right: 55px;
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 55px;
    height: 55px;
    background: $gray-base;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &--phone::after {
      width: 18px;
      height: 18px;
      background-image: url("../img/sprite/sprite.png");
      background-position: -94px -77px;
    }

    &--email::after {
      width: 16px;
      height: 12px;
      background-image: url("../img/sprite/sprite.png");
      background-position: -90px -60px;
    }
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 160px;
  }

  /* Checkbox and radio buttons + states */

  &__checkbox-input,
  &__radio-input {
    display: none;
  }

  &__checkbox-label,
  &__radio-label {
    @extend .reasons__header;
    font-weight: 700;
    text-transform: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox-input + &__checkbox-label::before,
  &__radio-input + &__radio-label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 55px;
    margin-right: 20px;
    background-color: $gray-lighter;
    @include transition(background-color);
  }

  &__checkbox-input + &__checkbox-label::before {
    border-radius: 5px;
  }

  &__radio-input + &__radio-label::before {
    border-radius: 50%;
  }

  &__checkbox-input:hover + &__checkbox-label::before {
    background: $gray-darker url("../img/sprite/input/tick-dn.png") 50% 50% no-repeat;
  }

  &__radio-input:hover + &__radio-label::before {
    background: $gray-darker url("../img/sprite/input/radio-dn.png") 50% 50% no-repeat;
  }

  &__radio-input:checked + &__radio-label::before {
    background: $gray-base url("../img/sprite/input/radio.png") 50% 50% no-repeat;
  }

  &__checkbox-input:checked + &__checkbox-label::before {
    background: $gray-base url("../img/sprite/input/tick.png") 50% 50% no-repeat;
  }




  &__required-fields {
    margin-top: 2.35em;
    font-size: round(1.14 * $p);

    span {
      color: red;
    }
  }
}
