.top-block {
  padding-top: 30px;
  border-bottom: 1px solid $gray-base;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 27px;
    background: url("../img/promo-decorate-top.png") no-repeat 0 0;
    background-size: contain;
  }

  &__header {
    @extend .reasons__header;
    margin-bottom: 1.95em;
  }

  &__text {
    margin-bottom: 1.43em;
    font-size: $p;
    line-height: 1.71em;
  }
}

.feedback-form {

  &__fieldset-legend {
    @extend .reasons__header;
    font-weight: 700;
  }
}
