.main-footer {
  
  @include respond-from-to($screen-md, false) {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 0;
    text-align: left;
  }

  &__elem {
    @include respond-from-to($screen-md, false) {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 16.6%;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  &__title {
    @extend .book-now__header;
    margin-top: 1.9em;
    margin-bottom: 1.9em;

    @include respond-from-to($screen-md, false) {
      position: relative;
      top: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__item-text,
  &__item-logo {
    display: inline-block;
    vertical-align: middle;
  }

  &__item-text {
    margin-right: 5px;
    font-size: $p;
    line-height: 1.86em;
    height: 1.86em;
  }

  &__item-logo {
    font-size: 35px;
    text-decoration: none;
    color: $black;
    @include transition(color);

    &:hover {
      color: $blue;
    }

    &:active {
      color: #b2b2b2;
    } 
  }
}

.socials {
  text-align: center;
  margin-bottom: 40px;

  @include respond-from-to($screen-md, false) {
    margin-bottom: 0;
  }

  &__item:not(:last-child) {
    margin-right: 5px;
  }

  &__icon {
    display: block;
    width: 50px;
    height: 50px;
    background-color: $blue;
    font-size: 20px;
    line-height: 50px;
    color: $white;
    text-decoration: none;
    @include transition();

      &:hover {
        background-color: $blue-hover;
      }

      &:active {
        color: #b2b2b2;
    } 
  }
}
