.container {
  @extend .clearfix;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid red;
  border-right: 1px solid red;

  @media #{$desktop} {
    max-width: 320px;
    margin: 0 auto;
  }

  &&--fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  @extend .clearfix();
  position: relative;
}

@for $i from 1 to 3 {
  .col-#{$i} {
    float: left;
    width: 100% / 3 * $i;  
  }
}
