.main-header {
  position: relative;
  min-height: 150px;
  padding-top: 140px;
  padding-bottom: 80px;
  background: $blue url("../img/bg/photo-background@1x.jpg") 50% 15% no-repeat;
  
  @include respond-from-to($tablet, false) {
    min-height: 570px;
  }

  @include respond-from-to($desktop, false) {
    background: $blue url("../img/bg/photo-background@2x.jpg") 50% 25% no-repeat;
  }

  @media #{$retina2x} {
    background: $blue url("../img/bg/photo-background@2x.jpg") 50% 25% no-repeat;
  }

  &--single-caption {
    padding-top: 120px;
    padding-bottom: 60px;
    background-position: 50% 50%;
  }

  &__text {
    display: block;
    margin: 0 auto;

    &--welcome {
      width: 115px;
      height: 30px;
      margin-bottom: 5px;
    }

    &--tothegorgeous {
      width: 160px;
      height: 20px;
      margin-bottom: 30px;
    }

    &--sedona {
      width: 280px;
      height: 55px;
      margin-bottom: 30px;
    }

    &--becausecanyon {
      width: 180px;
      height: 50px;
    }
  }
}
