[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb-up:before {
  content: "\e900";
}
.icon-icon-burger:before {
  content: "\e901";
}
.icon-icon-calendar:before {
  content: "\e902";
}
.icon-icon-facebook:before {
  content: "\e903";
}
.icon-icon-gift:before {
  content: "\e904";
}
.icon-icon-house:before {
  content: "\e905";
}
.icon-icon-minus:before {
  content: "\e906";
}
.icon-icon-plus:before {
  content: "\e907";
}
.icon-icon-twitter:before {
  content: "\e908";
}
.icon-icon-youtube:before {
  content: "\e909";
}
.icon-logo-htmlacademy:before {
  content: "\e90a";
}
.icon-checkmark:before {
  content: "\e90b";
}
