.reasons {
  @extend .clearfix;

  &--featured {
    background-color: $blue;
  }

  &--rest {
    padding-bottom: 15px;
    background-color: #eee;

    .col-4:not(:last-child) {
      padding-bottom: 17px;
      border-bottom: 1px solid $gray-darker;
    }
  }

  &--rest &__header {
    margin-top: 1.83em;
    margin-bottom: 0.83em;
  }

  &--rest &__text {
    padding: 0 15px;
  }

  &__item,
  &__pic {
    @include respond-from-to($screen-md, false) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__item {
    @include respond-from-to($screen-md, false) {
      width: 33%;
      padding: 0 5%;
    }
  }

  &__pic {
    @include respond-from-to(false, $screen-md) {
      margin-bottom: -6px;
    }

    @include respond-from-to($screen-md, false) {
      width: 66%;
      margin-bottom: -11px;
      font-size: 0;
    }
  }

  &__pic--bridge {
    @include respond-from-to($screen-md, false) {
      text-align: left;
      margin-left: -6px;
    }
  }

  &__pic--city {
    @include respond-from-to($screen-md, false) {
      text-align: right;
      margin-right: -6px;
    }
  }

  &__item--featured {
    color: $white;

    @include respond-from-to(false, $screen-md) {
      padding: 40px 20px 30px;
    }
  }

  &__header {
    @include respond-from-to(false, $screen-md) {
      font-size: round($header * 0.86);
      line-height: 1.44em;
    }

    @include respond-from-to($screen-md, false) {
      font-size: $header;
      line-height: 1.24em;
    }

    &--compensated {
      margin-top: 0;
    }
  }

  &__text {
    @extend p;
  }

  &__icons {
    @include respond-from-to(false, $screen-md) {
      padding-top: 15px;
      padding-bottom: 25px;
      text-align: left;
    }
  }

  &__icons-block {
    @include respond-from-to($screen-md, false) {
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      width: 32.9%;
    }
  }

  &__icons-pict,
  &__icons-header {
    @include respond-from-to(false, $screen-md) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__icons-pict {
    color: $blue;
    
    @include respond-from-to(false, $screen-md) {
      width: 40px;
      margin-right: 8px;
      font-size: 40px;
    }

    @include respond-from-to($screen-md, false) {
      display: block;
      width: 60px;
      margin: 0 auto;
      font-size: 60px;
    }
  }

  &__icons-header {
    font-size: round(0.86 * $header);
    line-height: 1.44em;
    margin-bottom: 1.25em;
  }

  &__icons-text {
    @extend p;
    margin-top: 0;

    @include respond-from-to(false, $screen-md) {
      padding-left: 52px;
    }
  }

  &__number {

    &::before,
    &::after {
      content: "\2014";
    }
    &::before {
      padding-right: 5px;
    }
    &::after {
      padding-left: 5px;
    }
  }
}

.book-now {
  padding-top: 15px;
  padding-bottom: 50px;

  &__header {
    font-size: $header;
    line-height: 1.24em;
  }

  &__text {
    font-size: $p;
    line-height: 1.71em;
    margin-bottom: 2.85em;
  }
}

.google-map {
  min-height: 350px;
  background-color: #f3f1ed;
}
