.reasons {
  @extend .clearfix;

  &--featured {
    background-color: $blue;
  }

  &--rest {
    padding-bottom: 15px;
    background-color: #eee;

    .col-4:not(:last-child) {
      padding-bottom: 17px;
      border-bottom: 1px solid $gray-darker;
    }
  }

  &--rest &__header {
    margin-top: 1.83em;
    margin-bottom: 0.83em;
  }

  &--rest &__text {
    padding: 0 15px;
  }

  &__item--featured {
    padding: 40px 20px 30px;
    color: $white;

    @include respond-from-to($screen-md) {
      padding: 0;
    }
  }

  &__pic {
    margin-bottom: -6px;
  }

  &__header {
    @include respond-from-to(false, $screen-md) {
      font-size: round($header * 0.86);
      line-height: 1.44em;
    }

    @include respond-from-to($screen-md, false) {
      font-size: $header;
      line-height: 1.24em;
    }

    &--compensated {
      margin-top: 0;
    }
  }

  &__text {
    @extend p;
  }

  &__icons {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: left;
  }

  &__icons-pict,
  &__icons-header {
    display: inline-block;
    vertical-align: middle;
  }

  &__icons-pict {
    width: 40px;
    margin-right: 8px;
    font-size: 40px;
    color: $blue;
  }

  &__icons-header {
    font-size: round(0.86 * $header);
    line-height: 1.44em;
    margin-bottom: 1.25em;
  }

  &__icons-text {
    @extend p;
    padding-left: 52px;
    margin-top: 0;
  }

  &__number {

    &::before,
    &::after {
      content: "\2014";
    }
    &::before {
      padding-right: 5px;
    }
    &::after {
      padding-left: 5px;
    }
  }
}

.book-now {
  padding-top: 15px;
  padding-bottom: 50px;

  &__header {
    font-size: $header;
    line-height: 1.24em;
  }

  &__text {
    font-size: $p;
    line-height: 1.71em;
    margin-bottom: 2.85em;
  }
}

.google-map {
  min-height: 350px;
  background-color: #f3f1ed;
}
