.main-caption {
  position: relative;
  
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
  }

  &::before {
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 27px;
    background: url("../img/promo-decorate-top.png") no-repeat 0 0;
    background-size: contain;
  }

  &::after {
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @include triangle-bottom(17px 160px, #fff);
  }

  &__header {
    margin-bottom: 35px;
    @extend .reasons__header;
  }

  &__text {
    line-height: 1.86em;
  }
}

.reasons {
  @extend .clearfix;

  &--featured {
    background-color: $blue;
  }

  &--rest {
    padding-bottom: 15px;
    background-color: #eee;

    .col-1:not(:last-child) {
      padding-bottom: 17px;
      border-bottom: 1px solid $gray-darker;
    }
  }

  &--rest &__header {
    margin-top: 1.83em;
    margin-bottom: 0.83em;
  }

  &--rest &__text {
    padding: 0 15px;
  }

  &__item.reasons__item--featured {
    padding: 40px 20px 30px;
    color: $white;
  }

  &__pic {
    margin-bottom: -6px;
  }

  &__header {
    font-size: round($header * 0.86);
    line-height: 1.44em;

    &--compensated {
      margin-top: 0;
    }
  }

  &__text {
    @extend p;
  }

  &__icons {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: left;
  }

  &__icons-pict,
  &__icons-header {
    display: inline-block;
    vertical-align: middle;
  }

  &__icons-pict {
    width: 40px;
    margin-right: 8px;
    font-size: 40px;
    color: $blue;
  }

  &__icons-header {
    font-size: round(0.86 * $header);
    line-height: 1.44em;
    margin-bottom: 1.25em;
  }

  &__icons-text {
    @extend p;
    padding-left: 52px;
    margin-top: 0;
  }

  &__number {

    &::before,
    &::after {
      content: "\2014";
    }
    &::before {
      padding-right: 5px;
    }
    &::after {
      padding-left: 5px;
    }
  }
}

.book-now {
  padding-top: 15px;
  padding-bottom: 50px;

  &__header {
    font-size: $header;
    line-height: 1.24em;
  }

  &__text {
    font-size: $p;
    line-height: 1.71em;
    margin-bottom: 2.85em;
  }
}

.google-map {
  min-height: 350px;
  background-color: #f3f1ed;
}
