.media {

  .col-12.media__item {
    margin-top: 20px;
  }

  &__item {
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $gray-base;
    }

    figcaption {
      max-width: 280px;
      margin: 0 auto;
    }
  }

  &__item-image {
    display: block;
    margin: 0 auto 20px;
  }

  &__item-author {
    display: block;
    margin-bottom: .7em;
  }

  &__item-header {
    @extend .reasons__header;
    margin: 1.3em 0 .7em;

    &--mb {
      margin-bottom: 1.75em;
    }
  }

  &__item-description {
    line-height: 1.71em;
    margin-bottom: 2.75em;
  }
}

.likes {
  .icon,
  &-count {
    display: inline-block;
    vertical-align: baseline;
  }

  .icon {
    margin-right: 5px;
    color: #b2b2b2;
    
    @include transition(color);

    &:hover {
      cursor: pointer;
      color: darken(#b2b2b2, 25%);
    }
  }

  &-count {
    font-weight: 700;
  }
}
