.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: rgba($white, 0.95);

  &__logo {
    display: block;
    margin: 0 auto;
    width: 102px;
    height: 83px;
    text-indent: $over9000;
    background: url("../img/logo/logo@1x.png") 0 0 no-repeat;

    @media #{$retina2x} {
      background: url("../img/logo/logo@2x.png") 0 0 no-repeat;
      background-size: contain;
    }
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;

    @include respond-to(mobile) {
      display: none;
    }
  }

  &__menu-item {
    @include respond-to(mobile) {
      position: relative;
      background-color: $blue;
      box-shadow: 0 -1px inset #678fa8,
                  0 1px inset #9ac2db;
      @include transition();

      &:first-of-type {
        box-shadow: 0 -1px inset #678fa8;
      }

      &:last-of-type {
        box-shadow: 0 1px inset #9ac2db,
                    0 -7px 7px -7px inset rgba(0,0,0,0.5);
      }

      &:hover {
        background-color: $blue-hover;
      }
    }
  }

  &__menu-link {
    display: block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: $white;
    font-weight: 700;
    text-decoration: none;
    @include transition();

    &:active {
      background-color: $blue-focus;
      color: rgba($white, 0.45);
    }
  }

  &__hamburger-wrapper {
    position: absolute;
    right: 20px;
    top: 17px;

    &:hover {
      cursor: pointer;
    }

    @include respond-from-to($tablet, false) {
      display: none;
    }
  }
 
  &__hamburger {
    @include hamburger-generator(23px, 4px, 4px, $blue);
  }

  &__cross {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 22px;
    height: 22px;
    color: #fff;
    text-indent: $over9000;
    background: url("../img/icons/icon-cross.svg") 0 0 no-repeat;
    background-size: contain;

    @include respond-from-to($tablet, false) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
