html {
	box-sizing: border-box;
}

*,
*:before,
*:after {box-sizing: inherit;}

body {
  min-width: $screen-xs; 
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: $p;
  line-height: 1.5em;
  color: $text-base;
  text-align: center;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.42em;
}
