.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.mob-hidden {
	@include respond-from-to(false, $screen-xs) {
    display: none;
  }
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.ib {
	list-style: none;
	padding-left: 0;
	font-size: 0;

	&__item {
		display: inline-block;
		vertical-align: middle;
	}

	&__item--vab {
		vertical-align: bottom;
	}

	&__item--vabl {
		vertical-align: baseline;
	}

	&__item--vat {
		vertical-align: top;
	}
}
