<footer class="main-footer">
  <h3 class="main-footer__elem main-footer__title">#VisitSedona</h3>

  <ul class="main-footer__elem ib socials">
    <li class="ib__item  socials__item">
      <a href="#" class="socials__icon" title="Мы в Twitter">
        <i class="icon-icon-twitter"></i>
      </a>
    </li>
    <li class="ib__item  socials__item">
      <a href="#" class="socials__icon" title="Мы на Facebook">
        <i class="icon-icon-facebook"></i>
      </a>
    </li>
    <li class="ib__item  socials__item">        
      <a href="#" class="socials__icon" title="Мы на Youtube">
        <i class="icon-icon-youtube"></i>
      </a>
    </li>
  </ul>

  <div class="main-footer__elem">
    <span class="main-footer__item-text">Разработано</span> 
    <a class="main-footer__item-logo" href="http://htmlacademy.ru" target="_blank" title="HTML Academy">
      <i class="icon-logo-htmlacademy"></i>
    </a>
  </div>
</footer>

<script src="js/main.min.js"></script>
