<footer class="main-footer">
  <div class="container">
    <div class="row">
      <h3 class="main-footer__header">#VisitSedona</h3>

      <ul class="ib socials">
        <li class="ib__item  socials__item">
          <a href="#" class="socials__icon">
            <i class="icon-icon-twitter"></i>
          </a>
        </li>
        <li class="ib__item  socials__item">
          <a href="#" class="socials__icon">
            <i class="icon-icon-facebook"></i>
          </a>
        </li>
        <li class="ib__item  socials__item">        
          <a href="#" class="socials__icon">
            <i class="icon-icon-youtube"></i>
          </a>
        </li>
      </ul>

      <div class="main-footer__item">
        <span class="main-footer__item-text">Разработано</span> 
        <a class="main-footer__item-logo" href="http://htmlacademy.ru" target="_blank">
          <i class="icon-logo-htmlacademy"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="js/main.min.js"></script>