<nav class="navbar">
  <a id="navbar-logo" href="/" class="navbar__logo" title="На главную">На главную</a>
  <div id="menu-toggler" class="navbar__hamburger-wrapper">
    <span class="navbar__hamburger"></span>
  </div>
  <ul id="menu" class="navbar__menu">
    <li class="navbar__menu-item  navbar__1st-item">
      <a class="navbar__menu-link" href="/">Главная</a>
      <span id="menu-cross" class="navbar__cross">&times;</span>
    </li>
        <li class="navbar__menu-item  navbar__2nd-item">
      <a class="navbar__menu-link" href="feedback.html">Форма отзыва</a>
    </li>
    <li class="navbar__menu-item  navbar__3rd-item">
      <a class="navbar__menu-link" href="http://htmlacademy.ru" target="_blank">HTML Academy</a>
    </li>
    <li class="navbar__menu-item  navbar__4th-item">
      <a class="navbar__menu-link" href="media.html">Фото и&nbsp;видео</a>
    </li>
  </ul>
</nav>