/* Paths */
$fonts-path: "../fonts/";

/* Dimensions */
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1200px;

/* Retina */
$retina2x: "(min-resolution: 2dppx)";
$retina3x: "(min-resolution: 3dppx)";

/* Sizes */
$navbar-height: 55px;

/* Colors */
$black: #000000;
$white: #ffffff;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-focus: #5496bd;
$brown: #766357;
$gray-base: #e5e5e5;
$gray-lighter: #f2f2f2;
$gray-darker: #d5d5d5;
$text-base: #333333;

/* Typography */
$header-xl: 30px;
$header: 21px;
$p: 14px;

/* etc */
$over9000: -9999px;
